<p><strong>Senior Director of Marketing & Communications:</strong><br>
Rosemary Fahmie<br>
845 Anderson Hall<br>
<a href="mailto:rosemary.fahmie@temple.edu">rosemary.fahmie@temple.edu</a></p>
<hr>
<p><strong>Senior Associate Director of Marketing & Communications:</strong><br>
Camille Elliott<br>
843 Anderson Hall<br>    
<a href="mailto:camille.elliott@temple.edu">camille.elliott@temple.edu</a></p>
<hr>
<p><strong>Creative Director:</strong><br>
Zac McGroarty<br>
846 Anderson Hall<br>    
<a href="mailto:zachary.mcgroarty@temple.edu">zachary.mcgroarty@temple.edu</a></p>
<hr>
<p><strong>Designer:</strong><br>
Chelsea Pro<br>
847 Anderson Hall<br> 
<a href="mailto:chelsea.pro@temple.edu">chelsea.pro@temple.edu</a></p>
<hr>
<p><strong>Web Content Manager:</strong><br>
Nick Santangelo<br>
848 Anderson Hall<br> 
<a href="mailto:nsantangelo@temple.edu">nsantangelo@temple.edu</a></p>
