<p><strong>Senior Associate Dean for Research and Faculty Affairs:</strong><br>
Sandra L. Suárez<br>
1246 Anderson Hall<br>
<a href="mailto:suarez@temple.edu">suarez@temple.edu</a></p>
<hr>
<p><strong>Director of Research Administration:</strong><br>
Kimberly Fahey<br>
1243 Anderson Hall<br>
<a href="tel:2152047743">(215) 204-7743</a><br>  
<a href="mailto:kimberly.fahey@temple.edu">kimberly.fahey@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Affairs:</strong><br>
Amy Defibaugh<br>
1216 Anderson Hall<br>
<a href="tel:2152045936">(215) 204-5936</a><br>  
<a href="mailto:amy.defibaugh@temple.edu">amy.defibaugh@temple.edu</a></p>
<hr>
<p><strong>Grants Development Facilitator:</strong><br>
Gina Barnes<br>
1248 Anderson Hall<br>
<a href="tel:2152049148">(215) 204-9148</a><br>    
<a href="mailto:gina.barnes@temple.edu">gina.barnes@temple.edu</a></p>
<hr>
<p><strong>Research Administrator:</strong><br>
Julia Erlanger<br>
1245 Anderson Hall<br>    
<a href="mailto:julia.erlanger@temple.edu">julia.erlanger@temple.edu</a></p>
<hr>
